body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Calibri', serif;
    background-color: #f3f3f3;
}

.main-content{
    color: #19865C;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.nav{
    background-color: gold;
    border: 1.5px solid #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav a{
    transition: color 0.25s;
}

.nav-item{
    color: black;
    margin: 10px;
    text-decoration: none;
}

.logo img{
    width: 40px;
    height: auto;
}

.nav a:hover{
    color: #fa0000;
}

.main-item{
    width: 215px;
    height: 360px;
    background-color: white;
    margin: 10px 28px;
    border: 1.5px solid black;
    border-radius: 2px;
}

.main-item img{
    max-width: 100%;
    max-height: 100%;
    width: 150px;
    height: 150px;
    margin: 0px 30px;
}


.main-item:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.main-item-content{
    position: relative;
}

.main-item-content h2{
    margin: 5px 5px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.main-item-content p{
    margin: 5px 20px;
    font-size: 12px;
    text-align: center;
    color: black;
}

.main-item-content a {
    text-decoration: none;
}

.buy-button{
margin: 0px 30px;
    display: flex;
    justify-content: center;
    padding: 0px 40px;
    border: 1.5px solid #000000;
    background-color: rgb(255 215 0);
    font-size: 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 320px;
    left: 25px;
}

.site-footer{
    background-color: #000;
    color: #fff;
    padding: 2vh 0 122px;
}

.footer-content{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buy-button{
    text-decoration: none;
}

.buy-button:hover{
    text-decoration: none;
    background-color: #000000;
    color: rgb(255, 255, 255);
}


.img img{
    width: 100px;

}

.page-nav{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
page-nav-item{
    text-decoration: none;
    color: black;
    margin: 0px 5px;
    border: 1px solid black;
    padding: 10px 15px;
    background-color: white;
}

.page-nav a{
    text-decoration: none;
    display: flex;
    color: black;
    margin: 0px 5px;
    border: 1px solid black;
    padding: 10px 15px;
    background-color: white;
}


.page-nav-item_selected{
    text-decoration: none;
    color: white;
    margin: 0px 5px;
    border: 1px solid black;
    padding: 10px 15px;
    background-color: black;
}