{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title> {{ title }} </title>
    <link type="text/css" href="{% static 'djsite_app/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
<header class="site-header">
<div class="nav">
    <div class="logo">
        <a href="{% url 'index' %}"> <img src="static/djsite_app/images/logo.png" style="width: 40px"> </a>
    </div>
    {% for i in menu %}
        <a class="nav-item" href="#">
            {{ i }}
        </a>
    {% endfor %}
</div>
</header>
<div class="main-container">
    {% block content %}
    {% endblock content %}
    <ul class="page-nav">
        {% if page_obj.has_previous %}
        <li class="page-nav-item">
            <a href="?page={{ page_obj.previous_page_number }}">{{ '<' }}</a>
        </li>
        {% endif %}
        {% for p in page_obj.paginator.page_range %}
        {% if page_obj.number == p %}
        <li class="page-nav-item_selected">{{ p }}</li>
        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
        <li class="page-nav-item">
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-nav-item">
            <a href="?page={{ page_obj.next_page_number }}">{{ '>' }}</a>
        </li>
        {% endif %}
    </ul>
</div>
<footer class="site-footer">
    <p class="footer-content">
        &copy; 2024 My Website. All rights reserved.
    </p>
</footer>
</body>
<html>