{% extends 'djsite_app/base.html' %}
{% block content %}
<ul class="main-content">
    {% for i in information %}
        <li class="main-item">
            <div class="main-item-content">
                <h2>{{i.title}}</h2>
                <br>
                <p>
                    {{i.description}}
                    <br>
                </p>
                <a class="buy-button" href="#">
                    {{i.price}}
                </a>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}