{% extends 'djsite_app/base.html' %}
{% block content %}
{% for i in information %}
<ul class="main-content">
    {% for i in information %}
        <li class="main-item">
            <div class="main-item-content">
                <h2>{{i.title}}</h2><br>
                <p>{{i.description}}</p><br>
                <a class="buy-button" href="#">{{i.price}}</a>
                <img class="image" src="static/djsite_app/images/logo.png">{{i.price}}</img>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}